body {
    font-family:Vazir !important;
    direction:rtl;
    text-align:right;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family:Vazir !important;
}
.pull-right{
    float:left !important;
}
.pull-left{
    float:right !important;
}
.main-header .logo i{
    float:right;
}
.main-header > .navbar{
    margin-right:250px;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{
    border-left:none;
}
.navbar-nav > li{
    float:right;
}
.control-sidebar-bg, .control-sidebar{
    transition:all 0.3s ease-in-out;
    left:-250px;
}
.content-wrapper, .right-side, .main-footer{
    margin-right:250px;
}
.fa-arrow-circle-right{
    transform:rotate(180deg);
}
/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    float:right;
}*/
.nav-tabs.pull-right{
    padding-right:0;
}
.nav-tabs-custom > .nav-tabs.pull-right > li.pull-left{
    float:right !important;
}
.chart svg, .chart canvas{
    direction:ltr;
}
.box-header > .box-tools{
    right:unset;
}
.box-header > .box-tools .pull-right{
    float:left !important;
    margin-right:5px;
}
.jvectormap-zoomin{
    right:100%;
    margin-right:-50px;
    left:unset !important;
    margin-left:0 !important;
}
.jvectormap-zoomout{
    right:100%;
    margin-right:-25px;
    left:unset !important;
    margin-left:0 !important;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn{
    border-radius:3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group{
    float:none;
}
.s-QuickSearchBar{
    float:right;
}
.select2-container .select2-choice .select2-arrow{
    right:unset;
    left:0;
    border-right:1px solid #aaa;
    border-left:none;
    border-radius:4px 0 0 4px;
}
.select2-container.select2-allowclear .select2-choice .select2-chosen{
    margin-right:0;
}
.select2-search input[type=text]{
    padding:4px 20px 4px 5px;
}
html[dir="rtl"] #LoginPanel .s-Form .caption{
    padding:6px 10px !important;
}
.slick-pg-in , .slick-pg-grp , .slick-pg-btn{
    float:left;
}
.ui-dialog .ui-dialog-titlebar{
    padding:5px;
    align-items:center;
}
.ui-dialog .ui-dialog-titlebar-close{
    left:unset;
    right:unset;
}
.ui-dialog .ui-dialog-title{
    margin:0;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    float:left;
}
.slick-header-columns{
    background-color:transparent;
    color:#000;
}
.slick-header-column.ui-state-default, .slick-group-header-column.ui-state-default{
    background-color:transparent;
    color:inherit;
}
.slick-header-column, .slick-header-column.ui-state-default{
    border-bottom:2px solid #ddd !important;
}
.slick-sort-indicator{
    margin-right:0;
    left:unset;
}
.employee-symbol , .shipper-symbol.shipper-UnitedPackage ,
.shipper-symbol.shipper-SpeedyExpress ,
.shipper-symbol{
    background-position:right;
    padding:5px 20px 5px 0;
}
.panel-titlebar-close{
    float:right;
    transform:rotate(180deg);
}
.property-tabs{
    padding-right:8px;
}
.nav-tabs > li{
    float:right;
}
.s-PropertyGrid .category-links a.category-link ,
.s-PropertyGrid .category-links span.separator{
    float:left;
}
/*.s-Form .caption{
    text-align:left;
}*/
.s-Form .ui-datepicker-trigger{
    margin:2px 0 2px 10px;
}
.ui-datepicker-rtl{
    direction:rtl;
}
.s-ColumnPickerDialog .restore-defaults{
    right:6px;
}
.select2-container .select2-choice > .select2-chosen{
    margin-right:0;
    margin-left:45px;
}
.select2-container-multi .select2-choices .select2-search-choice{
    float:right;
}
.select2-search-choice-close{
    right:unset;
}
.s-ReportPage div.report-list ul{
    padding-right:0;
}
.s-ReportPage div.report-list ul ul{
    margin-right:20px;
    margin-left:0;
}
.s-ReportPage div.report-list ul.has-reports{
    border-left:none;
    border-right:1px solid #999;
}
.s-ReportPage div.report-list li.category > .line{
    padding-right:20px;
}
.s-ReportPage li > .line > span.toggle{
    right:5px;
    background-position:0 -10px;
}
.quick-filter-item .ui-datepicker-trigger{
    margin-left:6px;
    margin-right:0;
}
.quick-filter-item .range-separator{
    margin:0 6px;
}
th{
    text-align:right;
}
.btn.btn-info.btn-sm{
    float:none !important;
}
.progress-bar{
    float:right;
}
.nav-tabs-custom > .nav-tabs ,
.bs-glyphicons{
    padding-right:0;
}
.btn-app > .badge{
    right:unset;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn{
    border-radius:0 3px 3px 0;
}
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group{
    margin-left:-1px;
    margin-right:0;
}
.dropdown-menu{
    right:0;
    left:unset;
    text-align:right;
}
.btn-social-icon{
    padding-right:0;
}
.timeline > li{
    margin-right:0;
}
.close{
    float:left;
}
.modal-footer .btn + .btn{
    float:left;
    margin-left:0;
}
.radio label, .checkbox label{
    padding-right:20px;
    padding-left:0;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
    right:0;
}
.input-group-addon:first-child{
    border-left:0;
    border-right:1px solid #ccc;
}
.input-group-addon:last-child{
    border-right:0;
    border-left:1px solid #ccc;
}
.pagination{
    padding:0;
}
.pagination > li{
    float:right;
}
.nav ,
.list-group , .list-inline{
    padding-right:0;
}
.nav-stacked > li.active > a, .nav-stacked > li.active > a:hover{
    border-left:0;
}
.user-block .username, .user-block .description, .user-block .comment{
    margin-left:0;
}
.form-control-feedback{
    left:0;
    right:unset;
}
.has-feedback .form-control{
    padding-left:42.5px;
    padding-right:6px;
}
.lockscreen-image{
    left:unset;
}
.lockscreen-credentials{
    margin-left:0;
}
.fa-arrow-right{
    transform:rotate(180deg);
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group{
    margin-left:0;
}
.s-Form .Email .editor , .s-Form .Email .emailat , .s-Form .Email .emaildomain , .s-Form .Email .vx{
    float:left;
    text-align:left;
    margin-left:5px;
}
.s-Serenity-DecimalEditor , .s-DecimalEditor{
    float: left;
    text-align: left;
    margin-left: 5px;
}
.error-page > .error-content{
    margin-left:0;
}
.main-header .logo i{
    width:140px;
    background-image:url(images/logo-white.png);
    background-size:contain;
}
.main-header .logo i{
    animation:unset;
}
.skin-black .main-header .logo i,
.skin-black-light .main-header .logo i{
    width:140px;
    background-image:url(images/logo-300.png);
    background-size:contain;
}
.main-header .logo .logo-lg b{
    display:none;
}
#LoginPanel .logo{
    background-image:url(images/logo-white.png) !important;
    background-size:contain !important;
    width:50% !important;
    height:70px !important;
}
.s-TemplatedDialog.s-CustomerDialog{
    position:relative !important;
    width:auto !important;
    height:100% !important;
}
.s-DialogContent ,
.s-MySliderReveal.s-Common-MySliderReveal > div > div:nth-child(2){
    height:100%;
}
.close-dialog{
    left:13px;
    right:unset !important;
}
.btn-previous-record{
    float:left;
}
/*.slick-header.ui-state-default ,
.slick-viewport{
    overflow:unset !important;
}
.slick-header-columns.ui-sortable{
    width:max-content !important;;
    right:unset !important;
}
.ui-state-default.slick-header-column.slick-header-sortable.ui-sortable-handle{
    right:unset;
}
.grid-container.ui-widget.rtl{
    overflow:auto !important;
}*/
.slick-resizable-handle{
    right:unset;
}
.s-ColumnPickerDialog .columns-container >div{
    height:400px;
    overflow-y:auto;
}
.s-Toolbar.sticky{
    position:fixed;
    top:50px;
    right:265px;
    padding:15px;
    background-color:#fff;
    width:calc(100% - 280px);
    z-index:1010;
}

@media (min-width:768px) {
    .form-horizontal .control-label{
        text-align:left;
        float:right;
    }
    .col-sm-offset-2{
        margin-right:16.66666667%;
        margin-left:unset;
    }
  .sidebar-collapse .content-wrapper,
  .sidebar-collapse .right-side,
  .sidebar-collapse .main-footer {
    margin-left: 0;
  }
  .sidebar-collapse .main-sidebar,
  .sidebar-collapse .left-side {
    -webkit-transform: translate(-250px, 0);
    -ms-transform: translate(-250px, 0);
    -o-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
  }
  .sidebar-mini.sidebar-collapse .main-sidebar {
    transform: translate(0, 0);
    width: 50px!important;
    z-index: 850;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li {
    position: relative;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
    margin-right: 0;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
    border-top-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
    border-bottom-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    display: block!important;
    position: absolute;
    width: 200px;
    left: 50px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
    float: right;
    width: auto!important;
    left: 200px!important;
    top: 10px!important;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
    display: none;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 44px;
    margin-left: 0;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info,
  .sidebar-mini.sidebar-collapse .sidebar-form,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right,
  .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
    display: none!important;
    -webkit-transform: translateZ(0);
  }
  .sidebar-mini.sidebar-collapse .main-header .logo {
    width: 50px;
  }
  .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
  }
  .sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
    display: none;
  }
  .sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 50px;
  }
  .control-sidebar-open .content-wrapper,
  .control-sidebar-open .right-side,
  .control-sidebar-open .main-footer {
    margin-right: 250px;
  }
  .modal-content {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  }
  .skin-blue-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
  .skin-black-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
  .skin-green-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
  .skin-red-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
  .skin-yellow-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
  .skin-purple-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
@media (max-width: 991px) {
  .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #d2d6de;
    padding-left: 10px;
  }
  .content-header > .breadcrumb li:before {
    color: #97a0b3;
  }
  .navbar-custom-menu .navbar-nav {
    margin: 0;
    float: left;
  }
  .navbar-collapse.pull-left {
    float: none!important;
  }
  .navbar-collapse.pull-left + .navbar-custom-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 40px;
  }
  .navbar-custom-menu > .navbar-nav > li {
    position: static;
  }
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
  .error-page > .headline {
    float: none;
    text-align: center;
  }
  .error-page > .error-content {
    margin-left: 0;
  }
  .error-page > .error-content > h3 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .content-wrapper,
  .right-side,
  .main-footer {
    margin-left: 0;
  }
  .sidebar-open .content-wrapper,
  .sidebar-open .right-side,
  .sidebar-open .main-footer {
    -webkit-transform: translate(-250px, 0);
    -ms-transform: translate(-250px, 0);
    -o-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
  }
  .main-header .navbar-right {
    float: none;
  }
  .main-header {
    position: relative;
  }
  .main-header .logo,
  .main-header .navbar {
    width: 100%;
    float: none;
  }
  .main-header .navbar {
    margin: 0;
  }
  .main-sidebar,
  .left-side {
    -webkit-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -o-transform: translate(250px, 0);
    transform: translate(250px, 0);
  }
  .s-Dialog-Toolbar.sticky{
      right:unset;
      width:calc(100% - 40px);
      top:100px;
  }
}
@media (max-width:575px){
    .s-MySliderReveal.s-Common-MySliderReveal > div{
        width:100% !important;
    }
}
.slick-row.active {
    background: #00ff84;
}

/* Currently selected cell */
.slick-cell.active {
    background: #00ff00;
}
.inplace-upload b {
    background-image: url(../serenity/images/fs-closed-folder-file-icon.png);
    background-position: center 4px;
}
.inplace-save b {
    background-image: url('../serenity/images/save.png');
    background-position: center 4px;
}
.inplace-refresh b {
    background-image: url('../serenity/images/refresh.png');
    background-position: center 4px;
}
.inplace-paperclip b {
    background-image: url(../serenity/images/paper-clip.png);
    background-position: center 4px;
}
